* {
  font-family: 'Martian Mono', monospace;
}
body {
  background: rgb(14, 41, 39);
}
.buttons {
  text-align: center;
  margin-bottom: 0.5rem;
}
button {
  font-size: 1.5rem;
  background-color: rgb(56, 71, 75);
  color: rgb(212, 212, 212);
  border: 1px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.4rem;
}
button:hover {
  font-size: 1.7rem;
  background-color: rgb(47, 60, 63);
}
.contenedor-accion-seleccionada {
  width: 7rem;
  margin: 0 auto;
}
.contenedor-accion-seleccionada img {
  margin-left: -100px;
  padding: 0.3rem;
  width: 7rem;
  border-radius: 1rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(220%) contrast(40%);
  visibility: hidden;
  border: 2px solid #000000;
}
.contenedor-opciones {
  width: 30rem;
  margin: 0 auto;
}
.contenedor-opciones img {
  display: inline-block;
  padding: 0.3rem;
  margin: 0 auto;
  width: 7rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(200%) contrast(50%);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  cursor: pointer;
}
#jugador-1 {
  display: flex;
  text-align: center;
}
#jugador-2 {
  display: flex;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 1.7rem;
  color: rgb(212, 212, 212);
}
h2 {
  margin: 0;
  font-size: 3rem;
  color: rgb(212, 212, 212);
  text-align: center;
}
#reset {
  display: block;
  margin: 0 auto;
}
@media (max-width: 600px) {
  /* estilos para dispositivos con ancho inferior a 600px */
  button {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  button:hover {
    font-size: 1.4rem;
  }
  .contenedor-accion-seleccionada {
    width: 4rem;
  }
  .contenedor-accion-seleccionada img {
    width: 4rem;
    margin-left: -10px;
  }
  .contenedor-opciones {
    width: 14rem;
  }
  .contenedor-opciones img {
    width: 3.5rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }



}
